.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  margin-right: 0px;
  padding: 30px 5px;
}
.menu__title {
  position: absolute;
  left: 15px;
  font-size: 32px;
  font-weight: 600;
}

.menu span i {
  margin-right: 20px;
}
