.nav {
  position: fixed;
  bottom: 0px;
  width: 100%;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  width: 100%;
  background-color: whitesmoke;
  box-sizing: border-box;
}
.nav__link {
  position: relative;
}

.nav__chat-notification {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 20px;
  bottom: 20px;
  padding: 1px;
  width: 20px;
  height: 20px;
  background-color: tomato;
  color: white;
  font-size: 12px;
  border-radius: 50%;
}
