.nav {
  position: fixed;
  bottom: 0px;
  width: 100%;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  width: 100%;
  background-color: whitesmoke;
  box-sizing: border-box;
}
.nav__link {
  position: relative;
}
