@import "reset.css";
@import "variables.css";
@import "status-bar.css";
@import "login.css";

@import "nav-bar.css";

@media (min-width: 801px) {
  .mobile {
    display: none;
    height: 1000vh;
  }
}

.desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 48px;
}

@media (max-width: 800px) {
  .desktop {
    display: none;
  }
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  margin-right: 0px;
  padding: 30px 5px;
}
.menu__title {
  position: absolute;
  left: 15px;
  font-size: 32px;
  font-weight: 600;
}

.menu span i {
  margin-right: 20px;
}

.friends-info {
  display: flex;
  justify-content: center;
  padding: 18px;
  background-color: rgba(118, 118, 118, 0.1);
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
}

.profile {
  display: flex;
  align-items: center;
  margin: 5px 20px;
  padding: 15px 0px;
}

.my-profile {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.profile-img img {
  width: 80px;
  height: 80px;
  border-radius: 30px;
}

.profile-title {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 600;
}

.friends-profile {
  border-bottom: none;
}
