@import "reset.css";
@import "variables.css";

/* Contorller */
@import "status-bar.css";
@import "menu.css";
@import "nav-bar.css";

/* Pages */
@import "login.css";
@import "friends.css";
@import "chat.css";
@import "search.css";
@import "chat__self.css";
@import "more.css";

/* media control */
@media (min-width: 801px) {
  .mobile {
    display: none;
    height: 120vh;
  }
}

body {
  height: 110vh;
}

.desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  font-size: 48px;
}

@media (max-width: 800px) {
  .desktop {
    display: none;
  }
}
